.service {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subHeading {
  margin-bottom: 0.94rem;
  display: flex;
  align-items: center;
  gap: 0.31rem;
  color: var(--primaryColorGreen);
}

.heading {
  text-align: center;
  max-width: 43.125rem;
  margin-bottom: 4.37rem;
}

.badges {
  border: 2px solid green;
  display: flex;
  height: 17.4375rem;
  width: 100%;
  max-width: 58.4375rem;
  justify-content: space-between;
}

.badge {
  width: 15.3125rem;
  height: 17.4375rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.badgeImage {
  object-fit: contain;
  margin-bottom: 1.875rem;
  transition: transform 0.3s ease;


}

.badgeImage:hover{
  transform: scale(1.25);
}

.badge-title {
  font-weight: var(--font-medium);
  text-align: center;
}
