.hero {
  position: relative;
  min-height: 88.5vh;
  padding: 0;
}

.hero-content {
  height: 100%;
  gap: 1.5rem;
  display: flex;
  overflow: hidden;
  position: absolute;
  user-select: none;
  width: 100%;
}

.left,
.right {
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.left {
  margin-top: 9rem;
}

.right {
  margin-top: 5.25rem;
}

.bg1,
.bg2 {
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.bg1 {
  bottom: 0;
}

.bg2 {
  bottom: 7.5rem;
}

.hero-logo {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  z-index: 5;
  width: 32.8125rem;
  height: 34.8125rem;
  display: flex;
  flex-direction: column;
  gap: 0.6rem;
}

.textOne,
.textTwo,
.textThree,
.textFour {
  color: var(--primaryColorWhite);
  font-size: 10rem;
  font-weight: 700;
  line-height: 8.6875rem; /* 86.875% */
  text-transform: uppercase;
  display: flex;
}

.textOne {
  margin-left: 0;
}
.textTwo {
  margin-left: 8.69rem;
}
.textThree {
  margin-left: 16.06rem;
}

.text-content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.bar {
  position: relative;
  width: 100%;
  height: 7.0625rem;
  background-color: var(--primaryColorGreen);
}

.tag {
  right: 0rem;
  top: 3rem;
  position: absolute;
  color: var(--primaryColorWhite);
  font-size: 0.9375rem;
  font-weight: 700;
  text-transform: uppercase;
  transform: rotate(-90deg);
}

@media screen and (max-width: 600px) {
  .hero-logo {
    width: 23.5rem;
    height: 24.8125rem;
  }

  .textOne,
  .textTwo,
  .textThree,
  .textFour {
    font-size: 7rem;
    font-weight: 500;
    line-height: 5.6875rem; /* 86.875% */

  }

  .textTwo {
    margin-left: 6.29rem;
  }
  .textThree {
    margin-left: 11.36rem;
  }

  .bar {
    height: 5.2625rem;
  }

  /* .tag {
    right: 0rem;
    top: 3rem;
    position: absolute;
    color: var(--primaryColorWhite);
    font-size: 0.9375rem;
    font-weight: 700;
    text-transform: uppercase;
    transform: rotate(-90deg);
  } */
}

@media screen and (max-height: 800px ) {
  .hero-logo {
    width: 23.5rem;
    height: 24.8125rem;
  }

  .textOne,
  .textTwo,
  .textThree,
  .textFour {
    font-size: 7rem;
    line-height: 5.6875rem; /* 86.875% */
  font-weight: 700;

  }

  .textTwo {
    margin-left: 6.29rem;
  }
  .textThree {
    margin-left: 11.36rem;
  }

  .bar {
    height: 5.2625rem;
  }

}

@media screen and (max-height: 600px ) {
  .hero-logo {
    width: 13.5rem;
    height: 14.8125rem;
  }

  .textOne,
  .textTwo,
  .textThree,
  .textFour {
    font-size: 4rem;
    line-height: 3.1435rem; /* 86.875% */
  font-weight: 700;

  }

  .textTwo {
    margin-left: 3.39rem;
  }
  .textThree {
    margin-left: 6.36rem;
  }

  .bar {
    height: 3.3625rem;
  }

}

@media screen and (max-height: 425px) {
  .hero-logo {
    width: 7.25rem;
    height: 7.8125rem;
    border: 5px solid teal;
  }

  .textOne,
  .textTwo,
  .textThree,
  .textFour {
    font-size: 2rem;
    font-weight: 500;
    line-height: 1.3435rem; /* 86.875% */
  }

  .textTwo {
    margin-left: 1.79rem;
  }
  .textThree {
    margin-left: 3.25rem;
  }

  .bar {
    height: 1.6625rem;
  }
}

