.hero {
    border: 1px solid green;
    height: 90.234375vh;
}

.background{
    border: 1px solid pink;
    width: 100%;
    height: 100%;
    gap: 1.5rem;
    display: flex;
}

.left, .right{
    border: 1px solid pink;
    width: 100%;
}

.bg1{
    position: absolute;
    bottom: 0;
    overflow: hidden;
}

.bg2{
    position: absolute;
    bottom: 0;
    overflow: hidden;

}











