.hero {
    height: 90.234375vh;
    position: relative;
}

.background{
    height: 100%;
    gap: 1.5rem;
    display: flex;
    overflow: hidden;
    min-height: 57.75rem;
}

.left, .right{
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.left{
  margin-top: 9rem;
}

.right{
  margin-top: 5.25rem;
}

.bg1, .bg2{
  position: absolute;
  object-fit: cover;
  width: 100%;
  height: 100%;
  
}

.bg1{
  bottom: 0;
}

.bg2{
  bottom: 7.5rem;
}

.hero-logo{
  position: absolute;
  border: 1px solid green;
  top: 0;
}















