.offer {
  display: flex;
  flex-direction: column;
}

.marquee {
  width: 100%;
  height: 11.55rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow: hidden;
}

.marquee-text {
  color: var(--marquee-text-color);
  -webkit-text-stroke-width: 2;
  -webkit-text-stroke-color: var(--marquee-text-color);
  font-size: 9.375rem;
  font-weight: var(--font-bold);
  text-transform: uppercase;
  white-space: nowrap;
  letter-spacing: 1px;
  padding-left: 50rem;
  animation: move-right 24000ms linear infinite;
}

@keyframes move-right {
  0% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}

.marquee-text span {
  color: var(--primaryColorBlack);
  font-size: 9.375rem;
  -webkit-text-stroke: 2px var(--text-color);
}

.offer-content {
  display: flex;
  height: 100%;
  align-items: center;
  gap: 1.44rem;
}

.left {
  flex: 1;
}

.subHeading {
  margin-bottom: 0.94rem;
  padding-left: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.31rem;
  color: var(--primaryColorGreen);
}

.heading {
  margin-bottom: 1.88rem;
}

.heading span {
  color: var(--primaryColorGreen);
  font-size: 3rem;
  font-style: italic;
  font-weight: 500;
  line-height: 120%;
}

.offer-cards {
}

.card {
  display: flex;
  gap: 1.87rem;
  margin-bottom: 0.94rem;
}

.card-index {
  border-radius: 3.125rem;
  border: 1px solid white;
  display: flex;
  width: 2.1875rem;
  height: 2.1875rem;
  justify-content: center;
  align-items: center;
}

.card-header {
  font-weight: var(--font-medium);
  margin-bottom: 0.94rem;
}
.card-body {
  font-weight: var(--font-normal);
  margin-bottom: 0.94rem;
  color: var(--text-color);
  width: 20rem;
}

.horizontal-rule {
  width: 20rem;
  height: 0.0625rem;
  background: white;
}

.right {
  flex: 1;
}

.offerImage {
  width: 100%;
}
