.navigation {
  min-height: 6.25rem !important;
  position: relative;
  display: flex;
  z-index: 100;
  align-items: center;
}

.nav-container {
  display: flex;
  position: fixed;
  width: 100%;
  height: 6.25rem;
  transition: all 0.5s ease-in-out;
  padding: 0 3%;
}

.active {
  backdrop-filter: blur(10px);
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  max-width: 75rem;
  margin: 0 auto;
}

.logo {
  width: 6rem;
  height: var(--space-50);
  cursor: pointer;
}

.navLinks {
  display: flex;
  gap: var(--space-50);
}

.navLink a {
  cursor: pointer;
  white-space: nowrap;
  transition: color 0.25s ease-in-out;
  color: var(--primaryColorWhite);
}

.navLink a:hover {
  color: var(--primaryColorGreen);
}

.dropdown {
  margin-left: var(--space-05);
  transition: fill 0.25s ease-in-out;
}

.menu-tools {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
}

.menuToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--space-50);
  height: var(--space-50);
  border-radius: 3.125rem;
  background: var(--primaryColorGreen);
  cursor: pointer;
}

.hosting-btn{
  display: flex;
  margin-right: 1.88rem;
  align-items: center;
  justify-content: center;
  gap: 0.1875rem;
  animation: scaleIcon 1s infinite alternate;

}

.hostingIcon {
  width: 2rem;
  height: 2rem;
}

@keyframes scaleIcon {
  0% {
    scale: 1;
  }
  100% {
    scale: 1.1;
  }
}

.toggle {
  width: 1.5rem;
  height: 1.5rem;
}

.toggle-overlay {
  position: fixed;
  color: white;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 25;
  background-color: black;
  opacity: 0.75;
  animation: slideIn 0.3s forwards;
}

.toggle-menu {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 50;
  height: 100vh;
  width: 28rem;
  background: var(--ruler-color);
  animation: slideIn 0.3s forwards;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes slideOut {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(100%);
  }
}

.close-icon {
  width: 1.5rem;
  height: 1.5rem;
  align-self: flex-end;
  margin: 3.75rem 3.75rem 0 0;
  cursor: pointer;
}

.nav-header {
  margin-bottom: 3.75rem;
}

@media screen and (max-width: 768px) {
  .navLinks {
    display: none;
  }
}
