.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 9.765625vh;
}

.logo {
  width: 6rem;
  height: var(--space-50);
  cursor: pointer;
}

.navLinks {
  display: flex;
  gap: var(--space-50);
}

.navLink {
  cursor: pointer;
  white-space: nowrap;
}

.dropdown {
  margin-left: var(--space-05);
}

.menuToggle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: var(--space-50);
  height: var(--space-50);
  border-radius: 3.125rem;
  background: var(--primaryColorGreen);
  cursor: pointer;
}

.toggle {
  width: 1.5rem;
  height: 1.5rem;
}
