.gallery {
  min-height: 115.5rem !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.gallery-header {
  width: 100%;
}

.subHeading {
  margin-bottom: 0.94rem;
  padding-left: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.31rem;
  color: var(--primaryColorGreen);
}

.heading-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4.375rem;
  gap: 3.125rem;
}

.heading {
  display: flex;
  width: 41.6875rem;
}

.button {
  min-width: 14.375rem;
}

.gallery-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  min-height: 70.25rem;
  gap: 3.125rem;
  align-items: center;
}

.project-card {
  width: 24rem;
}

.project-img-container {
  width: 24rem;
  height: 16.9375rem;
  overflow: auto;
  scroll-behavior: smooth;
  margin-bottom: 0.94rem;
}

.project-img-container::-webkit-scrollbar {
  width: 0.5em;
}

.project-img-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.image {
  width: 100%;
  object-fit: cover;
}

.title {
  font-weight: var(--font-medium);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title img {
  width: 1.4375rem;
  height: 1.4375rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.title img:hover {
  transform: scale(1.25);
}

@media screen and (max-width: 938px) {
  .gallery{
    padding-top: 15.9rem;
    padding-bottom: 15.9rem;
  }

  .gallery-container {
    grid-template-columns: repeat(1, 1fr);
    width: 100%;
  }

  .project-card:nth-child(odd),
  .project-card:nth-child(even){
    width: 100%;
    display: flex;
    align-items: center;
    gap: 3.125rem;

  }

  .project-card:nth-child(odd) {
    justify-self: start;
    
  }
  
  .project-card:nth-child(even) {
    justify-self: end;
    flex-direction: row-reverse;
    
  }

  .title img{
    display: none;
  }
}

@media screen and (max-width: 738px) {
  .project-card:nth-child(odd),
  .project-card:nth-child(even){

    gap: 0;
    justify-content: space-around;
  }
}
