.gallery {
  min-height: 115.5rem !important;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-items: center;
}

.gallery-header {
  width: 100%;
}

.subHeading {
  margin-bottom: 0.94rem;
  padding-left: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.31rem;
  color: var(--primaryColorGreen);
}

.heading-content {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
  margin-bottom: 4.375rem;
}

.heading {
  display: flex;
  width: 41.6875rem;
}

.button {
  min-width: 14.375rem;
}

.gallery-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 4.375rem;
  max-width: 54.25rem;

  
}

.project {
  width: 24rem;
}

.project-container {
  height: 16.9375rem;
  width: 24rem;
  overflow: auto;
  scroll-behavior: smooth;
  margin-bottom: 0.9375rem;
}

.project-container::-webkit-scrollbar {
  width: 0.5em;
}

.project-container::-webkit-scrollbar-thumb {
  background-color: transparent;
}

.project-container img {
  width: 100%;
  object-fit: cover;
}

.title {
  font-weight: var(--font-medium);
  border: 2px solid yellow;
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.title img {
  width: 1.4375rem;
  height: 1.4375rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.title img:hover {
  transform: scale(1.25);
}

@media screen and (max-width: 855px) {
  .gallery {
    min-height: 85.12rem !important;
  }

  .gallery-container {
    row-gap: 3.28rem;
    width: 100%;
  }

  .project {
    width: 20.8rem;
    height: 18rem;
  }

  .project-container {
    height: 14.828125rem;
    width: 21rem;
  }
}

@media screen and (max-width: 768px) {
  .gallery {
    min-height: 150rem !important;
  }

  .gallery-container {
    flex-direction: column;
    gap: 4.375rem;
  }

  .project {
    width: 23rem;
    height: 21rem;
    height: auto;
  }

  .project-container {
    width: 30rem;
  }
}
