.gallery {
  min-height: 115.5rem !important;
  display: flex;
  flex-direction: column;
}

.subHeading {
  margin-bottom: 0.94rem;
  padding-left: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.31rem;
  color: var(--primaryColorGreen);
}

.heading-content {
  display: flex;
  justify-content: space-between;
  gap: 5rem;
}

.heading {
  display: flex;
  width: 41.6875rem;
}

