.hostingPlans {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subHeading {
  margin-bottom: 0.94rem;
  display: flex;
  align-items: center;
  gap: 0.31rem;
  color: var(--primaryColorGreen);
}

.heading {
  text-align: center;
  max-width: 43.125rem;
  margin-bottom: 4.37rem;
}

.hostingOptions {
  display: flex;
  gap: 1.5rem;
  width: 100%;
}

.package {
  flex: 1;
  min-height: 46.875rem;
  border: 1px solid var(--text-color);
  display: flex;
  justify-content: space-between;
  padding: 0.5rem;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.25s ease-in-out; /* Added transition property */
}

.package:hover {
  transform: scale(1.05); /* Changed scale to transform for transition */
}

.image {
  width: 8.6875rem;
  height: 6.6875rem;
  margin-top: 0.81rem;
  margin-bottom: 1.69rem;
}

.header-content {
  gap: 0.31rem;
  margin-bottom: 1.87rem;
}

.name {
  font-weight: 500;
  text-transform: capitalize;
}

.desc {
  color: var(--text-color);
}

.price-content {
  margin-bottom: 1.88rem;
  color: var(--text-color);
  font-size: 0.875rem;
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 1.9rem;
}

.dollar-sign {
  justify-self: flex-start;
  align-self: flex-start;
}

.price {
  color: var(--primaryColorGreen);
  font-size: 2.25rem;
  font-weight: 700;
}

.rate {
  align-self: flex-end;
}

.perks {
  display: flex;
  flex-direction: column;
  gap: 0.94rem;
  color: var(--text-color);
}

.perk {
  margin-left: 0.38rem;
}

.planBtn {
  margin-bottom: 0.935rem;
  border-radius: 3.125rem;
  background: var(--primaryColorGreen);
  color: var(--primaryColorBlack);
  display: flex;
  width: 11rem;
  height: 2.8125rem;
  font-size: 1.125rem;
  font-weight: 400;
  margin-top: 0.94rem;
}

.features {
  margin-top: 2rem;
  display: flex;
  justify-content: space-around;
  width: 100%;
  font-size: 0.875rem;
  color: var(--text-color, #bfbfbf);
  font-weight: 400;
  white-space: nowrap;
}

.feature {
  display: flex;
  padding: 0;
}

.featureDesc {
  margin-left: 0.37rem;
}

@media screen and (max-width: 718px) {
  .hostingPlans {
    padding-top: 4.88rem;
    padding-bottom: 4.88rem;
  }

  .hostingOptions {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding-left: 1rem;
    padding-right: 1rem;
  }

  .package {
    padding: 0.5rem;
    max-width: 30rem;
    width: 100%;
  }
}

@media screen and (max-width: 618px) {
  .features {
    white-space: normal;
    text-align: center;
    display: none;
  }
}
