.hostingCta {
  display: flex;
  align-items: center;
  gap: 4.75rem;
  overflow: hidden;
  border: 2px  green;
}

.cta-left {
  max-width: 36.74rem;
}

.subHeading {
  margin-bottom: 0.94rem;
  padding-left: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.31rem;
  color: var(--primaryColorGreen);
}

.heading {
  margin-bottom: 1.87rem;
}

.description {
  margin-bottom: 0.94rem;
  color: var(--text-color);
}

.ctaButtons{
  display: flex;
  gap: 2.4375rem;
  margin-top: 1.88rem;
}

.gsButton,
.ppButton{
  border-radius: 3.125rem;
  height: 4.375rem;
  width: 17.1875rem;
}

.gsButton{
  background: var(--primaryColorGreen);
  color: var(--primaryColorBlack);
}

.ppButton{
  border: 1.5px solid var(--text-color);
  color: var(--text-color);
}

.cta-right{
  width: 33.5rem;
  border: 2px solid pink;
  height: 25rem;
}
