.hostingCta {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4.75rem;
  overflow: hidden;
}

.cta-left{
  flex: 1;
}

.subHeading {
  margin-bottom: 0.94rem;
  padding-left: 2.5rem;
  display: flex;
  align-items: center;
  gap: 0.31rem;
  color: var(--primaryColorGreen);
}

.heading {
  margin-bottom: 1.87rem;
}

.description {
  margin-bottom: 0.94rem;
  color: var(--text-color);
}

.ctaButtons{
  display: flex;
  gap: 2.4375rem;
  margin-top: 1.88rem;
}

.gsButton,
.ppButton{
  max-width: 17.1875rem !important;
}

.gsButton{
  background: var(--primaryColorGreen);
  color: var(--primaryColorBlack);
}

.ppButton{
  border: 1.5px solid var(--text-color);
  color: var(--text-color);
}

.cta-right{
  flex: 1;
}

.cta-image{
  width: 100%;
  object-fit: cover;
  height: 100%;
}

@media screen and (max-width: 768px) {
  .hostingCta{
    flex-direction: column;

  }

  .cta-left{
    flex: 0;
  }

  .cta-right{
    flex: 0;
  }
}


